@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MonTPTest.Models;
@Model List<MonTPTest.Models.Cartes>
    ;
    
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section title {
        <title>Favoris</title>
}
<body>
    <main class="container" custom-border rounded-corners fill-background>
        <div class="row">
            <div class="col-12">
                <h1>Mes favs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Vous avez <b><span class="favCount">@Model.Count</span></b> <b>Favoris</b>!
                </p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-11">
                <table class="table table-striped row" custom-border rounded-corners>
                    <thead class="col-12">
                        <tr class="table-dark row">
                            <th class="col-2 col-md-2">Image</th>
                            <th class="col-3 col-md-3">Nom Carte</th>
                            <th class="col-3 col-md-3">Marque</th>
                            <th class="col-2 col-md-3">Année</th>
                            <th class="col-2 col-md-1">Retirer?</th>
                        </tr>
                    </thead>
                    <tbody class="col-12 table-striped">
                        @foreach (CarteGraphique Carte in Model)
                        {
                            <tr class="row align-items-stretch">
                                <td class="col-2 col-md-2">
                                    <img src="@(Carte.ImageCarte)" alt="@(Carte.Nom)" class="img-fluid" rounded-corners />
                                </td>
                                <td class="col-3 col-md-3">
                                    <div class="row align-items-center myThing">
                                            <div class="col-12 text-center"><a href="@Url.Action("Details", "Enfant", new { id = Carte.Nom.ToUpper()})">@Carte.Nom</a></div>
                                    </div>
                                </td>
                                <td class="col-3 col-md-3 text-center">
                                    <div class="row align-items-center myThing">
                                        <div class="col-12 text-center">@(Carte.Marque.Nom)</div>
                                    </div>
                                </td>
                                <td class="col-2 col-md-3 text-center">
                                    <div class="row align-items-center myThing">
                                        <div class="col-12 text-center">????</div>
                                    </div>
                                </td>
                                <td class="col-2 col-md-1 text-center">
                                    <div class="row align-items-center myThing">
                                        <div class="col-12 text-center">
                                            <form asp-controller="Favoris" asp-action="RetirerUnFavoris" class="row justify-content-around" method="POST">
                                                <input type="text" hidden name="id" value="@(Carte.Id)">
                                                <button class="col-auto" type="submit" title="removeFav" fill-background rounded-corners rounded-corners-padding-small>
                                                        <p class="inlineForRoundButton">&nbsp;<i class="fa-regular fa-trash-can"></i>&nbsp;</p>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    </body>

