@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@Model MonTPTest.Models.DetailsViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section title {
    <title>Détails</title>
}
<body id="details">
    @if (Model != null && Model.Carte != null)
    {
        <main id="infoCarte" marque-carte="@Model.Carte.Marque.Nom" class="container" custom-border rounded-corners fill-background>
            <div class="row">
                <div class="col-12">
                    <h1 id="nomCarte">@Model.Carte.Nom</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <img class="img-fluid" src="@Model.Carte.ImageCarte" alt="@Model.Carte.ToString()" custom-border rounded-corners fill-background />
                </div>
                <div class="col-spacer col-12 d-md-none"></div>
                <div class="col-md-5 col-sm-6 fuckBootstrap info-labels">
                    <ul class="noMarker">
                        <li>Marque</li>
                        @foreach (StatistiqueString Statistque in Model.Carte.Statistiques)
                        {
                            <li>@Statistque.Nom</li>
                        }
                        <!--<li>VRAM</li>
                        <li>Type de VRAM</li>
                        <li>Coeurs gpu</li>
                        <li>TDP</li>-->
                    </ul>
                </div>
                <div class="col-md-5 col-sm-6 fuckBootstrap card-info">
                    <ul class="noMarker">
                        <li>@Model.Carte.Marque.Nom</li>
                        @foreach (StatistiqueString Statistque in Model.Carte.Statistiques)
                        {
                            <li>@Statistque.Valeur</li>
                        }
                        <!--<li>Q_VRAM</li>
                        <li>TYPE_DE_VRAM</li>
                        <li>NB_COEURS_GPU</li>
                        <li>TDP_W</li>-->
                    </ul>
                </div>
            </div>
            @if (Model.Carte.EstVedette)
            {
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <h2><span class="badge bg-secondary">Carte Vedette</span></h2>
                    </div>
                </div>
            }
            <div class="row">
            <div class="col-md-2 col-sm-12">
                    @if (!Model.EstFavoris)
                    {
                        <form asp-controller="Favoris" asp-action="AjouterUnFavoris" class="row justify-content-around" method="POST">
                            <input type="text" hidden name="id" value="@(Model.Carte.Id)">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row justify-content-between">
                                <button class="col-auto" type="submit" value="Favoris" fill-background rounded-corners rounded-corners-padding-small><i class="fa-solid fa-star"></i> Ajouter aux favoris?</button>
                            </div>
                            <br />
                        </div>
                    </form>}
                    else{
                        <form asp-controller="Favoris" asp-action="RetirerUnFavoris" class="row justify-content-around" method="POST">
                            <input type="text" hidden name="id" value="@(Model.Carte.Id)">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row justify-content-between">
                                    <button class="col-auto" type="submit" value="Favoris" fill-background rounded-corners rounded-corners-padding-small><i class="fa-solid fa-star"></i> Retirer des favoris?</button>
                                </div>
                                <br />
                            </div>
                        </form>
                    }
            </div>
        </div>
        <div class="row">
            <div class="col-12 description-carte">
                <h2>Description</h2>
                <p>Paragraphe de description sur la carte @Model.Carte.Nom: @Model.Carte.Description</p>
            </div>
        </div>
    </main>
    }
    else{
        <main id="infoCarte" marque-carte="Unknown" class="container" custom-border rounded-corners fill-background>
            <div class="row">
                <div class="col-12">
                    <h1 id="nomCarte">Error 404. Carte non trouvée.</h1>
                </div>
            </div>
        </main>
    }

    </body>
